.nav {
    display: flex;
    flex-direction: column;

}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0;

}


#navimg {
    height: 20px;
    margin: 0 5px;
    display: flex;
}