/*RA-RAMON*/
.body-ramon{
    background-color: rgb(255, 255, 255);
}

#tamanho{
    width: 200px;
}


h1{

    text-align: left;
}
#robo {
    border: 5px solid white;
    background-color: rgb(53, 141, 201);
    display: flex;
}

#texto1{
     padding: 10px;
    
   
    
   
}

.botao{

    margin-left: 100px;
}


#status{

    margin-left: 100px;
}

#lista{

    margin-left: 100px;
}

#coisinhas{

    margin-left: 100px;
}

#lapis{
    border: 3px solid white;
    background-color: white;
    width: 100px;
    text-align: center;
}

#borda{

    border: 3px solid white;
}

#imagens{

    display: flex;
    gap: 20px;
}

#bordamain{
border: 5px solid white;
    background-color: rgb(53, 141, 201);
    display: flex;

}

#msg{

    margin-left: 200px;
}

#Jao{
    width: 400px;
    margin-left: 200px;
    border: 2px solid black;
}

#Jose{
    width: 400px;
    margin-left: 200px;
    display: flex;
    border: 2px solid black;
}

#botao2{
    margin-left: 200px;
    display: flex;
}

#botao{
    margin-left: 200px;
    display: flex;
}

.botaoruim{

    display: flex;
    flex-direction: column;
    gap: 16px;
}

#ult{

    display: flex;
}




/*MA-MARCOS*/

.nav {
    display: flex;
    flex-direction: column;

}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    border: 5px solid rgb(126, 125, 125);
    border-radius: 15px;
    background-color: rgb(158, 157, 157);

}
.menu_tabela {
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px solid rgb(126, 125, 125);
    background-color: rgb(158, 157, 157);
    height: 32px;
    padding: 4px;
    width: 307px;
}
#ul{
    margin: 0px;
    padding: 3px;
}

#navimg {
    height: 20px;
    margin: 0 5px;
    display: flex;
}
.ngv {
    display: flex;
    margin: 10px;
    gap: 20px;
    align-items:center;
}
table{
    border: 2px solid rgb(165, 165, 165);
    border-collapse: collapse;
}

td {
    border: 2px solid rgb(165, 165, 165);
}
th,
tr {
    padding: 8px;
    border: 2px solid rgb(165, 165, 165);
    align-items: left;
}
.linha {
    background-color: lightblue;
}